<nav class="nav">
  <a class="nav-brand" href="index.html" data-link="root">
    <img src="Images/logo/rat_fighter_logo.png" alt="Rat Fighter logo" />
  </a>
  <a href="index.html" data-link="root">HOME</a>
  <a href="story.html" data-link="root">TOURNAMENT</a>
  <a href="characters/" data-link="characters">FIGHTERS</a>
  <a href="moves.html" data-link="root">COMBAT</a>
  <a href="world.html" data-link="root">WORLD</a>
  <a href="stages.html" data-link="root">ARENAS</a>
  <a href="art-bible.html" data-link="root">ART BIBLE</a>
  <a href="ideas.html" data-link="root">DEVELOPMENT</a>
</nav>
